* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #11110fc7;
    background-image: url('img/fundo.png');
    background-size: cover;       
    background-position: center;
    background-repeat: repeat;
    justify-content: center;
}
.background{  
    display: block; /* ou grid com 1 coluna */
    width: 80vw;
    margin: 30px auto 2em auto;
    padding: 30px 30px 50px 0px;
    background-color: #00000044;
    border-radius: 15px;
    box-shadow: 0 0 15px rgb(0 0 0 / 0.1);
}
.header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    background-color: #00000085;
    width: 70vw;
    height: 11vh;
    border-radius: 15px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.445);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;   
}
.text{
    max-width: 800px;
    margin: 120px auto 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 .divimagem{
    position: relative;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: normal; 
}
 .img{
    margin: 20px;
    border-style: groove;
    width: 10px;
    height: 10px;
}
 button{ 
    border-radius: 5px;
    font-family: 'Tommy', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    width: 95px;
    height: 30px;
    background-color: #ffffffc0;
    color: #000000ea;
    margin-left: 25px;
    transition: all 0.3s ease;
    transform: translateY(1px);
    box-shadow: 0 1px 3px rgb(255, 255, 255); 
}
button:hover{
    background-color: #000000c0;
    color: #ffffffc0;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.973);
}
label {
    transform: translateX(12%);
}
.blocotext {
    background-color: #ffffffb9;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.445);
    max-width: 800px;
    width: 100%;
    padding: 20px;
    margin: 0 auto 20px auto;
}
.blocotext:hover {
    transition: all 0.5s ease;
    transform: translateY(-2px);
    cursor: pointer;
    box-shadow: 0 0px 25px rgb(255, 255, 255);
}
